@font-face {
    font-family: $fontNeris;
    src: url('../media/fonts/neris-thin.woff') format('woff');
    font-weight: 300;
  }
  
  @font-face {
    font-family: $fontNeris;
    src: url('../media/fonts/neris-light.woff') format('woff');
    font-weight: 400;
  }
  
  @font-face {
    font-family: $fontNeris;
    src: url('../media/fonts/neris-semibold.woff') format('woff');
    font-weight: 700;
  }
  
  @font-face {
    font-family: $fontNeris;
    src: url('../media/fonts/neris-black.woff') format('woff');
    font-weight: 900;
  }
  
  @font-face {
    font-family: $fontHelios;
    src: url('../media/fonts/helioscond-light.woff') format('woff');
    font-weight: 300;
  }
  
  @font-face {
    font-family: $fontHelios;
    src: url('../media/fonts/helioscond.woff') format('woff');
    font-weight: 400;
  }
  
  
  
  
  
  
  
  
  /* font-family: "PFBeauSansPro-Black"; */
@font-face {
    font-family: "PFBeauSansPro-Black";
    src: url("../media/fonts/PFBeauSansPro-Black.eot");
    src: url("../media/fonts/PFBeauSansPro-Black.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-Black.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFBeauSansPro-Bold"; */
@font-face {
    font-family: "PFBeauSansPro-Bold";
    src: url("../media/fonts/PFBeauSansPro-Bold.eot");
    src: url("../media/fonts/PFBeauSansPro-Bold.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-Bold.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFBeauSansPro-Light"; */
@font-face {
    font-family: "PFBeauSansPro-Light";
    src: url("../media/fonts/PFBeauSansPro-Light.eot");
    src: url("../media/fonts/PFBeauSansPro-Light.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-Light.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFBeauSansPro-SemiBold"; */
@font-face {
    font-family: "PFBeauSansPro-SemiBold";
    src: url("../media/fonts/PFBeauSansPro-SemiBold.eot");
    src: url("../media/fonts/PFBeauSansPro-SemiBold.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-SemiBold.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFBeauSansPro-Thin"; */
@font-face {
    font-family: "PFBeauSansPro-Thin";
    src: url("../media/fonts/PFBeauSansPro-Thin.eot");
    src: url("../media/fonts/PFBeauSansPro-Thin.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-Thin.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFBeauSansPro-Thin"; */
@font-face {
    font-family: "PFBeauSansPro-Bbook";
    src: url("../media/fonts/PFBeauSansPro-Bbook.eot");
    src: url("../media/fonts/PFBeauSansPro-Bbook.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-Bbook.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-Bbook.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
