$fontNeris: 'neris';
$fontHelios: 'helios';
$colorPink: #d4146e;
$colorBlue: #0054a4;
$imgBase: '../media/images/';
$easeOutExpo: cubic-bezier(.19, 1, .22, 1);
$easeOutQuad: cubic-bezier(.25, .46, .45, .94);
$easeOutSine: cubic-bezier(.39, .575, .565, 1);

// Mixins
@mixin size($width: 100%, $height: $width) {
  width: $width;
  height: $height;
}

@mixin block($width: 100%, $height: $width) {
  display: block;
  @include size($width, $height);
}

@mixin inline-block($width: 100%, $height: $width) {
  display: inline-block;
  @include size($width, $height);
}

@mixin pos($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin rel($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: relative;
  @include pos($top, $right, $bottom, $left);
}

@mixin rel-point($top: auto, $left: auto) {
  @include rel($top, auto, auto, $left);
}

@mixin abs($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  @include pos($top, $right, $bottom, $left);
}

@mixin abs-point($top: auto, $left: auto) {
  @include abs($top, auto, auto, $left);
}

@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: fixed;
  @include pos($top, $right, $bottom, $left);
}

@mixin fixed-point($top: auto, $left: auto) {
  @include fixed($top, auto, auto, $left);
}


@mixin bg($url, $position: 50% 0, $repeat: no-repeat) {
  background: url($imgBase + $url) $position $repeat;
}

@mixin bg-size($url, $size: 100%, $position: 50% 0, $repeat: no-repeat) {
  background: url($imgBase + $url) $position $repeat;
  background-size: $size;
}

@mixin trans($params...) {
  backface-visibility: hidden;
  transition: $params;
}

@mixin text($size: inherit, $color: #000, $family: $fontArial, $weight: inherit, $line: initial, $case: inherit) {
  font-size: $size;
  color: $color;
  font-family: $family;
  font-weight: $weight;
  line-height: $line;
  text-transform: $case;
}
