// custon global styles


html,
body {
  font: 400 20px/1.2 $fontNeris, Arial, sans-serif;
  color: #646464;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #000;
}

a,
button {
  outline: none !important;
}

a {
  color: #646464;
}

p {
  margin-bottom: 22px;
}

sup,
sub {
  font-size: 50%;
  display: inline;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
  margin-bottom: -10px;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.08);
  }
}


.slide-wrap {
  @include rel();

  max-width: 1024px;
  height: 768px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;

  .blur-content {
    @include abs(0, 0, 0, 0);
    @include trans(all .3s linear .5s);

    //-webkit-filter: blur(0);
  }

  .overlay {
    @include abs(0, 0, 0, 0);
    @include trans(all .3s linear .5s);

    z-index: -1;
    background-color: #fff;
    opacity: 0;
  }

  .instruction-popup {
    @include abs-point(-172px, -88px);

    z-index: 500;

    &:before {
      @include abs();
      @include block(234px);
      @include trans(all .3s linear);

      content: '';
      border-radius: 50%;
      box-shadow: -2px 3px 5px rgba(0, 0, 0, 0);
      background: rgba(243, 243, 243, 0);
    }

    .logo {
      @include abs-point(192px, 148px);
      @include block(181px, 72px);
      @include bg-size('logo.png');
      @include trans(all .3s linear .5s);

      z-index: 50;
      transform: scale(1);
    }

    // clexane box
    &:after {
      $shiftMultiplier: 8;

      @include abs-point(260px - 25px * $shiftMultiplier, 71px - 50px * $shiftMultiplier);
      @include block(401px, 151px);
      @include bg-size('instruct-box.png');
      @include trans(all .3s ease-in .2s);

      content: '';
      z-index: -1;
      -webkit-filter: blur(8px);
    }

    .instruction-button-rus,
    .instruction-button-kaz {
      @include trans(all .3s ease-in, margin-top .3s step-end);

      z-index: -1;
      margin-top: -800px;
      transform: scale(.8);
      transform-origin: 0 0;
      opacity: 0;
    }

    .instruction-button-rus {
      @include abs-point(281px, 370px);
      @include block(121px, 92px);
      @include bg-size('instruct-rus.svg');
    }

    .instruction-button-kaz {
      @include abs-point(304px, 202px);
      @include block(149px, 106px);
      @include bg-size('instruct-kaz.svg');
    }
  }

  &.blured {
    .blur-content {
      @include trans(all .3s linear);
    }

    .overlay {
      @include trans(all .3s linear);

      z-index: 50;
      background-color: #898989;
      opacity: .6;
    }

    .instruction-popup {
      &:before {
        @include block(434px);
        @include trans(all .3s linear);

        box-shadow: -2px 3px 5px rgba(0, 0, 0, .15);
        background: rgba(243, 243, 243, 1);
        animation: pulse 1s infinite linear .3s;
      }

      .logo {
        @include trans(all .3s linear);

        transform: scale(1.1);
      }

      &:after {
        @include abs-point(260px, 71px);
        @include trans(all .3s ease-out .3s);

        z-index: 5;
        -webkit-filter: blur(0);
        //opacity: 1;
      }

      .instruction-button-rus,
      .instruction-button-kaz {
        @include trans(all .3s ease-out .5s, margin-top .01s linear);

        z-index: 90;
        margin-top: 0px;
        transform: scale(1);
        opacity: 1;
      }

      .instruction-button-rus {
        @include abs-point(301px, 441px);
      }

      .instruction-button-kaz {
        @include abs-point(331px, 282px);
      }
    }
  }
}


.frame {
  @include abs(0, auto, 0, 0);
  @include block(0, auto);

  z-index: 49;

  &.hint-active {
    z-index: 1000;
  }

  .hint-overlay {
    @include abs(0, 0, 0, 0);
    @include block(1024px, auto);
    @include trans(opacity .3s linear, z-index .3s linear, width .3s step-end);

    content: '';
    background-color: #898989;
    z-index: -1;
    opacity: 0;
    width: 0px;

    &.active{
      @include trans(opacity .3s linear, z-index .3s linear, width .001s step-start);
      width: 1024px;
      opacity: .6;
    }
  }

  &.hint-active .hint-overlay {
    @include trans(opacity .3s linear, z-index .3s linear, width .001s step-start);

    z-index: 90;
    width: 1024px;
    opacity: .6;
  }

  .logo-roket {
    @include abs-point(44px, 858px);
    @include block(103px, 23px);
    @include bg-size('logo-roket.png');
  }

  .hint-icon {
    @include abs(auto, 0, 0, 0);
    @include block(1024px, 55px);

    z-index: 200;

    &:before {
      @include abs(0, 0, 0, 0);
      @include block();

      content: '';
      z-index: 205;
    }
  }

  .hint-icon-action,
  .hint-design-icon-action {
    @include abs-point(706px, 30px);
    @include block(30px);

    z-index: 230;
    overflow: hidden;
    opacity: 1;
    @include bg-size('hint.png');
    transition: .5s opacity;
    &.non{
      opacity: 0;
    }
  }

  .hint-design-icon-action {
    left: 100px;
  }

  .hint-popup {
    @include abs(100%, 0, 0, 0);
    @include block(1024px, auto);
    margin-top: 0px;

    transition: margin-top .3s linear .3s;
    
    z-index: 250;
    border-top: 5px solid $colorPink;
    border-bottom: 5px solid $colorPink;
    box-sizing: border-box;
    padding: 70px 98px 78px 98px;
    background-color: #fff;
    

    &.design-popup {
      border-color: $colorBlue;
      padding: 64px 85px 72px 58px;

      .hint-close {
        &:before,
        &:after {
          background: $colorBlue;
        }
      }
    };

    .hint-close {
      @include abs-point(24px, 971px);
      @include block(26px);

      z-index: 20;

      &:before,
      &:after {
        @include abs(0, 0, 0, 0);
        @include block(3px, 0);
        @include trans(height .3s linear);

        content: '';
        transform-origin: 50% 50%;
        margin: auto;
        border-radius: 2px / 5px;
        background: $colorPink;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    &.active {
      transition: margin-top .3s linear .3s;    
      .hint-close {
        &:before,
        &:after {
          @include trans(height .3s linear 1.8s);

          height: 32px;
        }
      }
    }

    .hint-text {
      .top-line {
        font-size: 20px;
      }

      .header {
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: 700;
        color: $colorPink;
      }

      .subheader {
        margin: 9px 0 7px 0;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
      }
    }

    &.design-popup .hint-text {
      font-size: 15px;

      .header {
        color: $colorBlue;
      }
    }
  }
}

.slide {
  position: relative;

  .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }

  .text-bold {
    font-weight: 700;
  }

  .title {
    @include abs(127px, 20px, auto, 20px);

    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: $colorBlue;

    &:before {
      @include abs(auto, 0, -16px, 0);
      @include block(60px, 3px);

      content: '';
      margin: auto;
      border-radius: 5px / 2px;
      background: linear-gradient(to right, #d3146f 0%, #0254a3 100%);
    }
  }
}