$slide: 'slide-07';
@import "engine";
@import "theme";
.#{$slide} {
	position: relative;
	.hint-popup.active{
		margin-top: -255px;
	}
	.sub-title{
		width: 100%;
		position: absolute;
		top: 192px;
		left:0px;
		text-align: center;
		font-size: 17px;
		color: #0054a4;
		opacity: 0;
		transition: .5s opacity;
	}
	.title-tab{
		width: 100%;
		position: absolute;
		top: 503px;
		left:0px;
		text-align: center;
		font-size: 17px;
		color: #646464;
		font-weight: 400;
		opacity: 0;
		transition: .5s opacity .5s;
		span{
			font-size: 16px;
			margin-bottom: 24px;
			display: block;
			font-weight: 200;
		}
	}
	.text-after{
		width: 100%;
		position: absolute;
		top: 638px;
		left:0px;
		text-align: center;
		font-size: 18px;
		color: #646464;
		font-weight: 600;
		opacity: 0;
		transition: .5s opacity 1.5s;
	}
	.setka{
	  @include abs-point(261px, 63px);
      @include block(908.5px, 240.5px);
	  @include bg-size($slide+'/3_03.png');
	  opacity: 0;
	  transition: .5s opacity .7s;
	}

	.grafik{
		position: fixed;
		bottom: 307px;
		left: 121px;
		@include block(814.5px, 126.5px);
		@include bg-size($slide+'/4_03.png');
		height: 0px;
		transition: .5s height 1.2s;
	  }


	  .setkaz1{
		@include abs-point(290px, 107px);
		@include block(99px, 213px);
		border: 3px solid green;
		opacity: 0;
	  	transition: .5s opacity 1.7s;
	  }
	  .setkaz2{
		@include abs-point(290px, 597px);
		@include block(99px, 213px);
		border: 3px solid green;
		opacity: 0;
	  	transition: .5s opacity 1.7s;
	  }
	  .sin{
		width: 100%;
		position: absolute;
		top: 326px;
		left:0px;
		text-align: left;
		font-size: 14px;
		color: #646464;
		opacity: 0;
		transition: .5s opacity 1.5s;
		div{
			display: inline-block;
			vertical-align: top;
			&.n1{
				margin-left: 614px;
			}
			&.n2{
				margin-left: 65px;
				padding-top: 39px;
			}
		}
	  }
}
// animations
.#{$slide} {


// inital state
	&.slide-active {
		.sub-title, .title-tab, .setka, .text-after, .setkaz1, .setkaz2{
			opacity: 1;
		}
		.sin{
			opacity: 0.7;
		}
		.grafik{
			height: 126.5px;
		}
	}
}