$slide: 'slide-09';
@import "engine";
@import "theme";
.#{$slide} {

	.isl{
		width: 100px;
		height: 100px;
		background: #6a3489;
		border-radius: 50%;
		position: absolute;
		top: 520px;
		right: 240px;
		img{
			width: 60px;
			height: 60px;
			margin-top: 20px;
			margin-left: 20px;
		}
	}
	.slide {
		@include abs-point(219px, 40px);
		@include block(939px, auto);
	}

	.hint-popup.active{
		margin-top: -190px;
	}

	.title {
		top: -92px;
	  }
	  .sub-title {
		text-align: center;
		color: $colorBlue;
		font-size: 22px;   
		margin-bottom: 30px;
	  }
	
	  .section {
		overflow: hidden;
		margin-bottom: 30px;
		.caption {
		  &:before, &:after {
			content:'';
			display: block;
			width: 2px;
			background-color: #a1a1a1;
			position: absolute;
		  }
		}
		.caption-title {
		  font-size: 24px;
		  font-weight: bold;
		  margin-bottom: 5px;
		}
		.text {
		  font-size: 14px;
		  b {
			font-weight: bold;
		  }
		}
		> div {
		  float: left;
		  width: 50%;
		  position: relative;
		  height: 300px;
		  .img {
			position: absolute;        
		  }
		}
		.section-left {
		  .img {
			@include size(64px, 300px);
			right: 30px;
			@include bg-size($slide + '/syringe1.jpg', 64px auto, 0 0);
		  }
		  .caption {
				list-style: none;
			width: 265px;
			text-align: right;
			float: right;
			margin-right: 140px;
			padding-right: 20px;
			margin-top: 72px;
			position: relative;        
			&:before {
			  // height: 60px;
			  
			  transform: rotate(45deg);
			  top: -61px;
			  right: -21px;
			}
			&:after {
			  // height: 205px;
			  
			  right: 0;
			  top: -10px;
			}
			li {
			  margin-bottom: 25px;
			}
		  }      
		}
		.section-right {
		  .img {
			left: 30px;
			@include size(72px, 300px);
			@include bg-size($slide + '/syringe2.jpg', 72px auto, 0 0);
		  } 
		  .caption {
				list-style: none;
			width: 212px;
			float: left;
			margin-left: 150px;
			padding-left: 20px;
			margin-top: 105px;
			color: $colorBlue;
			position: relative;
			&:before {
			  // height: 50px;
			  
			  transform: rotate(-45deg);
			  top: -43px;
			  left: -17px;
			}
			&:after {
			  // height: 90px;
			  
			  left: 0;
			  top: 0px;
			}
			.caption-title {
			  margin-bottom: 10px;
			}
			
		  }
		}
	  }
	  
	
	  .final-text {       
		text-align: center;
		font-size: 24px;
		font-weight: 700;
		color: $colorPink;
	  }
}
// animations
.#{$slide} {


	.img,
	.sub-title,
	.caption li,
	.section-right .caption-title,
	.section-right .text,
	.final-text {
	  opacity: 0;
	}
  
	.section-left {
	  .img {
		 @include trans(opacity .5s linear .5s, top .5s linear .5s);
		 top: 100px;
	  }
	  .caption {
		&:before {
		  @include trans(height .3s linear 1.5s);
		  height: 0;
		}
		&:after {
		  @include trans(height .3s linear 1.8s);
		  height: 0;
		}
		li:nth-child(1) {
		  @include trans(opacity .3s linear 2s);
		}
		li:nth-child(2) {
		  @include trans(opacity .3s linear 2.5s);
		}
		li:nth-child(3) {
		  @include trans(opacity .3s linear 3s);
		}
	  }
	}
	.section-right {
	  .img {
		@include trans(opacity .5s linear 1s, top .5s linear 1s);
		top: 100px;
	  }
	  .caption {      
		&:before {
		  @include trans(height .3s linear 3.5s);
		  height: 0;
		}
		&:after {
		  @include trans(height .3s linear 4s);
		  height: 0;
		}
		.caption-title {
		  @include trans(opacity .3s linear 4.5s);
		}
		.text {
		  @include trans(opacity .3s linear 4.5s);
		}
	  }
	}
  
	.final-text {
	  @include trans(opacity .3s linear 5s);
	}
  

// inital state
	&.slide-active {
		.img,
    .sub-title,
    .caption li,
    .section-right .caption-title,
    .section-right .text,
    .final-text {
      opacity: 1;
    }
    .section-left {
      .img {
        top: 0;
      }
      .caption {
        &:before {
          height: 60px;
        }
        &:after {
          height: 205px;
        } 
      }
    }
    .section-right {
      .img {
        top: 0;
      }
      .caption {
        &:before {
          height: 50px;
        }
        &:after {
          height: 90px;
        } 
      }
    }
	}
}