$slide: 'slide-04';
@import "engine";
@import "theme";
.#{$slide} {

	.hint-popup.active{
		margin-top: -215px;
	}
	.molecula {
		@include size(250px, auto);
		@include abs-point(260px, 80px);
		.molecula-img {
		  @include size(100%, 142px);
		  @include bg-size($slide + '/molecula.jpg', 250px 142px, 0 0);
		  margin-bottom: 40px;
		}
		.header {
		  font-size: 22px;
		  font-weight: bold;
		  color: $colorBlue;
		  text-align: center;
		}
	  }
	
	  .result_block {
		@include abs-point(230px, 350px);
		.row {
		  padding: 10px 0;
		  .arrow {
			@include inline-block(42px, 11px);
			@include bg-size($slide + '/arrow.jpg', 100% auto, 0 0);
			vertical-align: middle;
			margin-right: 10px;
		  }
		  div {
			display: inline-block;
			width: 250px;
			vertical-align: middle;
		  }
		  .action {
			font-size: 16px;
			margin-right: 10px;
		  }
		  .result {
			font-size: 20px;
			font-weight: bold;
		  }
		}
		.color1 {
		  color: #646464;
		  
		}
		.color2 {
		  color: $colorPink;
		  
		}
		.color3 {
		  color: #96277e;
		  
		}
		.color4 {
		  color: #6a3489;      
		}
		.color5 {
		  color: $colorBlue;
		  .result {
			font-size: 24px;
		  }
		}
	  }
	
	  .bottom_text {
		width: 100%;
		@include abs-point(550px, 0);
		font-size: 22px;
		font-weight: 300;
	  }
	
	  .list {
		@include abs-point(630px, 80px);
		li {
		  font-size: 17px;
		  font-weight: bold;
		  &:before {
			content: '';
			@include inline-block(5px, 5px);
			background-color: $colorPink;
			border-radius: 50%;
			vertical-align: top;
			margin-right: 5px;
			margin-top: 9px;
		  }
		}
	  }
}
// animations
.#{$slide} {
	$opDelay: .3s; 
  
	.molecula {
	  opacity: 0;
	  left: -80px;
	  @include trans(opacity 0.5s linear .5s, left 0.5s ease-out .5s);
	}
	.arrow,
	.action,
	.result,
	.bottom_text,
	.list {
	  opacity: 0;
	}
	.color1 {
	  .arrow:nth-of-type(1) {
		@include trans(opacity .3s linear 1s + $opDelay);
	  }
	  .action {
		@include trans(opacity .3s linear 1s + $opDelay*2);
	  }
	  .arrow:nth-of-type(2) {
		@include trans(opacity .3s linear 1s + $opDelay*3);
	  }
	  .result {
		@include trans(opacity .3s linear 1s + $opDelay*4);
	  }
	}
	.color2 {
	  .arrow:nth-of-type(1) {
		@include trans(opacity .3s linear 1s + $opDelay*5);
	  }
	  .action {
		@include trans(opacity .3s linear 1s + $opDelay*6);
	  }
	  .arrow:nth-of-type(2) {
		@include trans(opacity .3s linear 1s + $opDelay*7);
	  }
	  .result {
		@include trans(opacity .3s linear 1s + $opDelay*8);
	  }
	}
	.color3 {
	  .arrow:nth-of-type(1) {
		@include trans(opacity .3s linear 1s + $opDelay*9);
	  }
	  .action {
		@include trans(opacity .3s linear 1s + $opDelay*10);
	  }
	  .arrow:nth-of-type(2) {
		@include trans(opacity .3s linear 1s + $opDelay*11);
	  }
	  .result {
		@include trans(opacity .3s linear 1s + $opDelay*12);
	  }
	}
	.color4 {
	  .arrow:nth-of-type(1) {
		@include trans(opacity .3s linear 1s + $opDelay*13);
	  }
	  .action {
		@include trans(opacity .3s linear 1s + $opDelay*14);
	  }
	  .arrow:nth-of-type(2) {
		@include trans(opacity .3s linear 1s + $opDelay*15);
	  }
	  .result {
		@include trans(opacity .3s linear 1s + $opDelay*16);
	  }
	}
	.color5 {
	  .arrow:nth-of-type(1) {
		@include trans(opacity .3s linear 1s + $opDelay*17);
	  }
	  .action {
		@include trans(opacity .3s linear 1s + $opDelay*18);
	  }
	  .arrow:nth-of-type(2) {
		@include trans(opacity .3s linear 1s + $opDelay*19);
	  }
	  .result {
		@include trans(opacity .3s linear 1s + $opDelay*20);
	  }
	}
  
	.bottom_text {
	  @include trans(opacity .3s linear 1s + $opDelay*22);
	}
	.list {
	  @include trans(opacity .3s linear 1s + $opDelay*24);
	}

// inital state
	&.slide-active {
		.molecula {
			opacity: 1;
			left: 80px;
		  }
		  .arrow,
		  .action,
		  .result,
		  .bottom_text,
		  .list {
			opacity: 1;
		  }
	}
}


