$slide: 'slide-01';
@import "engine";
@import "theme";
.#{$slide} {
	.hint-popup.active{
		margin-top: -200px;
	}

	.top-text,
	.bottom-text {
	  text-align: center;
	  font-size: 26px;
	  // color: $colorPink;
  
	  &.top-text {
		@include abs(222px, 20px, auto, 20px);
  
		font-weight: 300;
	  }
  
	  &.bottom-text {
		@include abs(605px, 20px, auto, 20px);
  
		text-transform: uppercase;
		font-weight: 700;
	  }
	}
	.header {
	  margin-bottom: 7px;
	  font-size: 24px;
	  font-weight: 700;
	}
	.colP {
	  color: $colorPink;
	}
	.colB {
	  color: $colorBlue;
	}
  
	.table-compare {
	  @include abs(210px, auto, auto, 80px);
	  @include size(870px, auto);
	  th {
		padding-bottom: 15px;     
  
	  }
	  tr:last-child {
		td {
		  border-bottom: none;
		}
		td:nth-of-type(2) {
		  vertical-align: top;
		}
	  } 
	  tr {
		&:nth-of-type(6) td:nth-of-type(2) {
		  div {
			padding: 31px 0;
		  }
		}      
		&:nth-of-type(7) td div {
		  border-bottom: none;
		}
		td {        
		  div {
			padding: 7px 0;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: transparent;
		  }
		}
		td:nth-of-type(2) {
		  width: 280px;
		  vertical-align: middle;
		}
		td:last-child {
		  color: $colorBlue;
		}
		
	  }
	  
	}
  
	.copy.maybee {
	  background: #d4146e;
	  padding-left: 0px;
	  text-align: center;
	  border-radius: 10px;
	  width: 300px;
	  padding: 10px;
	  color: white;
	}
	.copy.forbidden {
		background: #0054a4;
		padding-left: 0px;
		text-align: center;
		border-radius: 10px;
		width: 300px;
		padding: 10px;
		color: white;
	  }
	.maybee {
	  @include abs-point(627px, 80px);
	  z-index: 10;
	}
	.forbidden {
	   @include abs-point(627px, 635px)
	}
  
	.tiles {
	  @include abs-point(284px, 2145px);
	  @include block(730px, auto);
  
	  &.hidden {
		left: 145px;
  
		div {
		  display: none;
		}
	  }
  
	  div {
		@include rel();
		@include block(357px, 141px);
  
		float: left;
		box-sizing: border-box;
		margin: 0 0 7px 7px;
		padding: 42px 10px 10px 150px;
		background-color: #f3f3f3;
		border-bottom: 2px solid #eceded;
  
		font-size: 26px;
		font-weight: 300;
		font-family: $fontHelios;
		color: #5a434b;
  
		&.tile-2 {
		  padding-left: 162px;
		}
  
		&.tile-3 {
		  padding-top: 20px;
		}
  
		&.tile-4 {
		  padding-top: 37px;
		  padding-left: 162px;
		}
  
		// icons
		& object {
		  @include block(120px);
  
		  content: '';
		}
  
		&.tile-1 object {
		  @include abs-point(19px, 7px);
		}
  
		&.tile-2 object {
		  @include abs-point(14px, 10px);
		}
  
		&.tile-3 object {
		  @include abs-point(14px, 20px);
		}
  
		&.tile-4 object {
		  @include abs-point(11px, 17px);
		}
	  }
	  
	}


	


	.table-compare tr th{
		@include trans(opacity .3s linear 0.5s);
		opacity: 0;
	  }
	  .table-compare tr td {
		opacity: 0;
		border-bottom-color: #fff;
	  }
	  .table-compare tr:nth-of-type(2) td{
		@include trans(opacity .3s linear 1s);
		div {
		  @include trans(border .3s linear 1.2s);
		}
	  }
	  .table-compare tr:nth-of-type(3) td{
		@include trans(opacity .3s linear 1.5s);
		div {
		  @include trans(border .3s linear 1.7s);
		}
	  }
	  .table-compare tr:nth-of-type(4) td{
		@include trans(opacity .3s linear 2s);
		div {
		  @include trans(border .3s linear 2.2s);
		}
	  }
	  .table-compare tr:nth-of-type(5) td{
		@include trans(opacity .3s linear 2.5s);
		div {
		  @include trans(border .3s linear 2.7s);
		}
	  }
	  .table-compare tr:nth-of-type(6) td{
		@include trans(opacity .3s linear 3s);
		div {
		  @include trans(border .3s linear 3.2s);
		}
	  }
	  .table-compare tr:nth-of-type(7) td{
		@include trans(opacity .3s linear 3.5s);
		
	  }
	  .copy {
		@include trans(opacity .3s linear 4s);
		opacity: 0;
	  }
	  .forbidden {
		@include trans(opacity .3s linear 4.5s);
		opacity: 0;
	  }

}
// animations
.#{$slide} {


// inital state
	&.slide-active {
		
			.table-compare tr th,
			.table-compare tr td,
			.copy,
			.forbidden {
			  opacity: 1;
			}
			.table-compare tr td div {
			  border-bottom-color: #d0d0d0;
			}    
		
	}
}