$slide: 'slide-10';
@import "engine";
@import "theme";
.#{$slide} {
		
	.title {
		font-size: 24px;
	  }
	
	  .videos {
		@include abs-point(288px, 311px);
		@include block(858px, auto);
		transform: scale(1.0);
		transition: .5s all;
		&.up{
			transform: scale(1.5);
			position: absolute;
			top: 258px;
			right: auto;
			bottom: auto;
			left: 431px;
		}
		.video-overlay {
		  @include abs(-800px, -1200px, -800px, -1200px);
		  @include block(auto);
		  @include trans(background-color .3s linear .3s, visibility .6s step-end);
	
		  background-color: rgba(89, 89, 89, 0);
		  z-index: 1;
		  visibility: hidden;
		}
	
		.video {
		  .wrapper {
			@include rel();
			@include block(auto, 250px);
			@include trans(margin-left .3s linear, margin-right .3s linear, height .3s linear, margin-top .3s linear);
	
			margin: 0;
	
			.js-play {
			  @include abs(0, 0, 0, 0);
			  @include block(auto);
			  @include bg-size($slide + '/play.svg', 96px 96px, 50% 50%);
	
			  z-index: 30;
			  margin: auto;
			  opacity: 1;
			  visibility: visible;
			}
	
			video {
			  @include rel();
			  @include block(100%);
	
			  z-index: 1;
			}
		  }
	
		  .text {
			margin-top: 17px;
			text-align: center;
			font-size: 22px;
			&.nones{
				visibility: hidden;
			}
			b {
			  font-weight: 700;
			}
		  }
		}
	
		.video-1 {
		  @include abs-point(0, 0);
		  @include block(400px, auto);
	
		  .wrapper {
			.js-play {
			  background-color: $colorPink;
			  &.none{
				  background: none;
			  }
			}

		  }
		}
	
		.video-2 {
		  @include abs(0, 0);
		  @include block(400px, auto);
	
		  .wrapper {
			.js-play {
			  background-color: $colorBlue;
			}
		  }
		}
	
		&[data-state] .video-overlay {
		  @include trans(background-color .3s linear, visibility .3s step-start);
	
		  background-color: rgba(89, 89, 89, .6);
		  visibility: visible;
		}
	
		&[data-state="1"] .video-1 .wrapper,
		&[data-state="2"] .video-2 .wrapper {
		  @include trans(margin-left .3s linear, margin-right .3s linear, height .3s linear .3s, margin-top .3s linear .3s);
	
		  margin-top: -91px;
		  height: 432px;
	
		  .js-play {
			@include trans(opacity .2s linear .6s, visibility .001s step-end .8s);
	
			opacity: 0;
			visibility: hidden;
		  }
		}
	
		&[data-state="1"] .video-1 .wrapper {
		  margin-right: -190px;
		}
	
		&[data-state="2"] .video-2 .wrapper {
		  margin-left: -190px;
		}
	
		&[data-state="1"] .video-2 .wrapper {
		  margin-left: 132px;
		}
	
		&[data-state="2"] .video-1 .wrapper {
		  margin-right: 132px;
		}
	
		&[data-state="1"] .video-2 .wrapper .js-play {
		  @include trans(background-color .3s linear);
	
		  background-color: #325c84;
		}
	
		&[data-state="2"] .video-1 .wrapper .js-play {
		  @include trans(background-color .3s linear);
	
		  background-color: #9c3c69;
		}
	  }
}
// animations
.#{$slide} {


// inital state
	&.slide-active {
		// active state
	}
}