$slide: 'slide-05';
@import "engine";
@import "theme";
.#{$slide} {
	$gwidth: 82px;
	.hint-popup.active{
		margin-top: -215px;
	}
	.tabs-block {
		box-sizing: border-box;
		@include size(905px, auto);
		margin: 0 auto;
		position: relative;
		top: 212px;
		border: 1px solid #e3e3e3;
		overflow: hidden;
		.tabs {
		  overflow: hidden;
		  margin-left: -1px;
		  margin-bottom: 20px;
		  li {
			width: 33.3333333%;
			float: left;
			text-align: center;
			font-size: 18px;
			color: $colorBlue;
			padding: 10px 0 35px;
			position: relative;
			background-color: #e3e3e3;
			overflow: hidden;
			&:after,&:before {
			  content: '';
			  display: block;
			  height: 25px;
			  background-color: #fff;
			  position: absolute;
			  bottom: 0;
			}
			&:first-child {
			  &:after {
				width: 110%;
				right: 3px;
				transform: skew(15deg);
			  }
			}
			&:nth-child(2), &:last-child {
			  &:after {
				left: 3px;
				width: 110%;
				transform: skew(-15deg);
			  }
			}
			&.s{
			  &:before {
				width: 110%;
				right: 3px;
				transform: skew(15deg);
			  }
			  &:after {
				content: none;
			  }
			}
			&.active {
			  color: $colorPink;
			  background-color: #fff;
			  &:after, &:before {
				content: none;
			  }
			}
		  }
		}
		.tabs-pane {
		  position: relative;
		  overflow: hidden;
		  height: 361px;
		  .pane {
			position: absolute;
			top: 0;
			width: 783px;
			margin: 0 auto 20px;
			&.active {
			  // display: block;
			}
			.pane-title {
			  text-align: center;
			  font-size: 18px;
			  font-weight: 300;
			}
		  }
		}
		.graph-block {
		  position: relative;
		  @include size(685px, 290px);
		  float: left;
		  > div {
			position: absolute;
		  }
		  .basis {
			height: 1px;
			width: 100%;
			left: 0;
			bottom: 54px;
			background-color: #aeaeae;
		  }
		  .graph-img {
			// height: 233px;
			// margin: 0 auto 15px;
			position: absolute;
			bottom: 55px;
	
		  }
		  .caption {
			text-align: center;
			font-size: 17px;
			position: absolute;
			bottom: 0;
			width: 100%;
			left: 0;
			height: 40px;
		  }
		  .graph1 {
			height: 100%;
			width: 115px;
			left: 0px;
			bottom: 0;
			.graph-img {
			  width: 50px;
			  left: 34px;
			  @include bg-size($slide + '/col1.jpg', 100% 100%, 0 0);
			}
			.caption {
			  color: $colorBlue;
			  font-weight: bold;
			}
		  }
		  .gr {
			height: 100%;
			bottom: 0;
			width: 77px;
			.graph-img {
			  // @include size(50px, 235px);
			  width: 50px;
			  left: 13px;
			}
		  }
		  .graph2 {
			left: 115px;
			.graph-img {
			  @include bg-size($slide + '/col2.jpg', 100% 100%, 0 0);
			}
	
		  }
		  .graph3 {
			left: 115px + $gwidth;
			.graph-img {
			  @include bg-size($slide + '/col3.jpg', 100% 100%, 0 0);
			}
		  }
		  .graph4 {
			left: 115px + $gwidth*2;
			.graph-img {
			  @include bg-size($slide + '/col4.jpg', 100% 100%, 0 0);
			}
		  }
		  .graph5 {
			left: 115px + $gwidth*3;
			.graph-img {
			  @include bg-size($slide + '/col5.jpg', 100% 100%, 0 0);
			}
		  }
		  .graph6 {
			left: 115px + $gwidth*4;
			.graph-img {
			  @include bg-size($slide + '/col6.jpg', 100% 100%, 0 0);
			}
		  }
		  .graph7 {
			left: 115px + $gwidth*5;
			.graph-img {
			  @include bg-size($slide + '/col7.jpg', 100% 100%, 0 0);
			}
		  }
		  .graph8 {
			left: 115px + $gwidth*6;
			.graph-img {
			  @include bg-size($slide + '/col8.jpg', 100% 100%, 0 0);
			}
		  }
		}
		#pane1, #pane2, #pane3 {
		  backface-visibility: hidden;
		  background-color: #fff;
		}
		#pane1 {
		  &:after {
			content:'';
			width: 80px;
			height: 100%;
			position: absolute;
			top: 0;
			right: -80px;
			z-index: 5;
			background-color: #fff;
			display: block;
		  }
		  z-index: 2;
		  .line1, .line2, .line3 {
			width: 0px;
			height: 1px;
			position: absolute;
			left: 34px;
			background-color: #dfdfdf;
		  }
		  .line1 {
			bottom: 66px;
		  }
		  .line2 {
			bottom: 97px;
		  }
		  .line3 {
			bottom: 188px;
		  }
		  .graph-legend {
			@include size(65px, 200px);
			@include bg-size($slide + '/legend.jpg', 100% auto, 0 0);
			float: right;
			margin-top: 30px;
			background-color: #fff;
		  }
		  .pane-title {
			margin-bottom: 30px;
		  }
		  left: -783px;
		  &.active {
			left: 60px;
		  }
		}
		#pane2 {
		  z-index: 1;
		  .graph-legend {
			@include size(100%, 20px);
			@include bg-size($slide + '/legend2.jpg', 340px auto, 50% 0);
			float: left;
			margin-top: 20px;
		  }
		  .pane-title {
			margin-bottom: 10px;
		  }
		  .pane-half {
			.g-name {
			  font-size: 16px;
			  font-weight: 300;
			  color: #959595;
			  margin-bottom: 10px;
			}
			.g-base {
			  @include size(341px, 237px);
			  position: relative;
			  @include bg-size($slide + '/graph.jpg', 100% auto, 0 0);
			}
		  }
		  .left {
			.line1 {
			  @include abs-point(8px, 83px);
			  @include size(0, 176px);
			  @include bg-size($slide + '/line-cl-bl.png', 213px 176px, 0 0);
			  z-index: 1;
			}
			.line2 {
			  @include abs-point(8px, 83px);
			  @include size(0, 176px);
			  @include bg-size($slide + '/line-cl-rl.png', 213px 176px, 0 0);
			}
		  }
		  .right {
			.line1 {
			  @include abs-point(45px, 83px);
			  @include size(0, 143px);
			  @include bg-size($slide + '/line-cl-br.png', 213px 143px, 0 0);
			  z-index: 1;
			}
			.line2 {
			  @include abs-point(43px, 83px);
			  @include size(0, 143px);
			  @include bg-size($slide + '/line-cl-rr.png', 213px 143px, 0 0);
			}
		  }
		  &.active {
			left: 60px;
		  }
		  &.l {
			left: 905px;
		  }
		  &.r {
			left: -783px;
		  }
		}
		#pane3 {
		  z-index: 2;
		  width: 800px;
		  .pane-title {
			//margin-bottom: 20px;
		  }
		  .g-name {
			font-weight: bold;
			font-size: 16px;
			color: $colorBlue;
			margin-bottom: 15px;
		  }
		  .g-base {
			@include size(342px, 233px);
			position: relative;
			@include bg-size($slide + '/graph2.jpg', 100% auto, 0 0);
		  }
		  .left {
			.line1 {
			  @include abs-point(10px, 80px);
			  @include size(0, 163px);
			  @include bg-size($slide + '/line-pr-l1.png', 215px 163px, 0 0);
			  z-index: 2;
			}
			.line2 {
			  @include abs-point(10px, 80px);
			  @include size(0, 163px);
			  @include bg-size($slide + '/line-pr-l2.png', 215px 163px, 0 0);
			  z-index: 1;
			}
			.line3 {
			  @include abs-point(10px, 80px);
			  @include size(0, 163px);
			  @include bg-size($slide + '/line-pr-l3.png', 215px 163px, 0 0);
			}
		  }
		  .right {
			.line1 {
			  @include abs-point(10px, 80px);
			  @include size(0, 163px);
			  @include bg-size($slide + '/line-pr-r1.png', 215px 163px, 0 0);
			  z-index: 2;
			}
			.line2 {
			  @include abs-point(10px, 80px);
			  @include size(0, 163px);
			  @include bg-size($slide + '/line-pr-r2.png', 215px 163px, 0 0);
			  z-index: 1;
			}
			.line3 {
			  @include abs-point(10px, 80px);
			  @include size(0, 163px);
			  @include bg-size($slide + '/line-pr-r3.png', 215px 163px, 0 0);
			}
		  }
		  .graph-legend {
			width: 100%;
			height: 20px;
			@include bg-size($slide + '/legend3.jpg', 674px auto, 50% 0);
			float: left;
			margin-top: 20px;
		  }
		  &.active {
			left: 60px;
		  }
		  left: 915px;
		}
		.pane-half {
		  width: 50%;
		  float: left;
		  text-align: center;
		}
	
	  }
	  .bottom-header {
		  @include abs-point(685px, 0);
		  width: 80%;
		  display: none;
		  left: 10%;
		  text-align: center;
		  font-size: 24px;
		  font-weight: bold;
		  background-color: #fff;
		  &[data-header="pane1"] {
	
		  }
		  &[data-header="pane2"] {
			z-index: 2;
		  }
		  &[data-header="pane3"] {
		  z-index: 3;
		  }
		}
}
// animations
.#{$slide} {

	$s: .5s;

	.pane-title,
	.basis,
	.g-base,
	.g-name,
	.caption,
	.graph-legend {
	  opacity: 0;
	}
  
	.graph-img {
	  height: 0;
	}
  
	#pane1 {
	  .pane-title {
		@include trans(opacity .3s linear .5s);
	  }
	  .basis,
	  .graph-legend {
		@include trans(opacity .3s linear 1s);
	  }
  
	  .graph1 {
		.graph-img {
		  @include trans(height .3s linear 1s + $s);
		}
		.caption {
		  @include trans(opacity .3s linear 1s + $s);
		}
	  }
	  .graph2 {
		.graph-img {
		  @include trans(height .3s linear 1s + $s*2);
		}
		.caption {
		  @include trans(opacity .3s linear 1s + $s*2);
		}
	  }
	  .graph3 {
		.graph-img {
		  @include trans(height .3s linear 1s + $s*3);
		}
		.caption {
		  @include trans(opacity .3s linear 1s + $s*3);
		}
	  }
	  .graph4 {
		.graph-img {
		  @include trans(height .3s linear 1s + $s*4);
		}
		.caption {
		  @include trans(opacity .3s linear 1s + $s*4);
		}
	  }
	  .graph5 {
		.graph-img {
		  @include trans(height .3s linear 1s + $s*5);
		}
		.caption {
		  @include trans(opacity .3s linear 1s + $s*5);
		}
	  }
	  .graph6 {
		.graph-img {
		  @include trans(height .3s linear 1s + $s*6);
		}
		.caption {
		  @include trans(opacity .3s linear 1s + $s*6);
		}
	  }
	  .graph7 {
		.graph-img {
		  @include trans(height .3s linear 1s + $s*7);
		}
		.caption {
		  @include trans(opacity .3s linear 1s + $s*7);
		}
	  }
	  .graph8 {
		.graph-img {
		  @include trans(height .3s linear 1s + $s*8);
		}
		.caption {
		  @include trans(opacity .3s linear 1s + $s*8);
		}
	  }
	  .line1, .line2, .line3 {
		@include trans(width 1s linear 1s + $s*9);
	  }
	}
  

// inital state
	&.slide-active {
		.graph-img {
			height: 235px;
		  }
		  #pane1 {
			.caption,
			.pane-title,
			.basis,
			.graph-legend {
			  opacity: 1;
			}
			.line1, .line2, .line3 {
			  width: 620px;
			}
		  }
		  .bottom-header[data-header="pane1"] {
			opacity: 1;
		  }
	  
		}
		&.done2 {
		  #pane2 {
			.pane-title {
			  @include trans(opacity .3s linear 1s);
			  opacity: 1;
			}
			.g-base, .graph-legend, .g-name {
			  @include trans(opacity .3s linear 1.5s);
			  opacity: 1;
			}
			.left {
			  .line1 {
				@include trans(width .3s linear 2s);
				width: 213px;
			  }
			  .line2 {
				@include trans(width .3s linear 2.5s);
				width: 213px;
			  }
			}
			.right {
			  .line1 {
				@include trans(width .3s linear 3s);
				width: 213px;
			  }
			  .line2 {
				@include trans(width .3s linear 3.5s);
				width: 213px;
			  }
			}
		  }
	  
		}
	  
		&.done3 {
		  #pane3 {
			.pane-title {
			  @include trans(opacity .3s linear 1s);
			  opacity: 1;
			}
			.g-base, .graph-legend, .g-name {
			  @include trans(opacity .3s linear 1.5s);
			  opacity: 1;
			}
			.left {
			  .line1 {
				@include trans(width .3s linear 2s);
				width: 215px;
			  }
			  .line2 {
				@include trans(width .3s linear 2.5s);
				width: 215px;
			  }
			  .line3 {
				@include trans(width .3s linear 3s);
				width: 215px;
			  }
			}
			.right {
			  .line1 {
				@include trans(width .3s linear 3.5s);
				width: 215px;
			  }
			  .line2 {
				@include trans(width .3s linear 4s);
				width: 215px;
			  }
			  .line3 {
				@include trans(width .3s linear 4.5s);
				width: 215px;
			  }
			}
		  }
	}
}