$slide: 'slide-03';
@import "engine";
@import "theme";
.#{$slide} {

	.hint-popup.active{
		margin-top: -190px;
	}



	.inner-content {
		@include size(790px, auto);
		margin: auto;    
		top: 230px;
		position: relative;
	  }
	  .header {
		margin-bottom: 7px;
		font-size: 20px;
		font-weight: 700;
	  }
	  .sub_header {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 30px;
		color: $colorBlue;
	  }
	  .formula-block {
		overflow: hidden;
		margin-bottom: 30px;
		.td {
		  @include block(33.333%, auto);
		  float: left;
		  text-align: center;
		  padding: 0 10px;
		  box-sizing: border-box;
		  font-family: $fontHelios;
		  font-size: 20px;
		}
		.formula-img {
		  width: 100%;
		  height: 159px;
		  float: left;
		  @include bg-size($slide+'/formula.png', 592px 159px, center 0);
		  margin: 30px 0;
		}
		.bottom-text {
		  float: left;
		  width: 100%;
	
		}
	  }


}
// animations
.#{$slide} {
	.sub_header,
	.td,
	.formula-img,
	.bottom-text,
	.header {
	  opacity: 0;
	}
	
	.sub_header {
	  @include trans(opacity .3s linear .5s);
	}
	.formula-img {
	  @include trans(opacity .3s linear 1.5s);
	}
	.td:first-child {
	  @include trans(opacity .3s linear 2s);
	}
	.td:nth-child(2) {
	  @include trans(opacity .3s linear 2.3s);
	}
	.td:nth-child(3) {
	  @include trans(opacity .3s linear 2.6s);
	}
	.bottom-text {
	  @include trans(opacity .3s linear 3.1s);
	}
	.header {
	  @include trans(opacity .3s linear 3.6s);
	}

// inital state
	&.slide-active {
		
		  .sub_header,
		  .td,
		  .formula-img,
		  .bottom-text,
		  .header {
			opacity: 1;
		  }
		
	}
}