$slide: 'slide-02';
@import "engine";
@import "theme";
.#{$slide} {

	.hint-popup.active{
		margin-top: -230px;
	}
	.frame .hint-popup {
		padding: 70px 87px 78px 98px;
	  }
	  .header {
		margin-bottom: 7px;
		font-size: 24px;
		font-weight: 700;
	  }
	  .half {
		@include size(300px, auto);
		.half-title {
		  text-align: center;
		  font-size: 24px;
		  font-weight: 300;
		  margin-bottom: 50px;
		}
		.fingerprint {
		  margin: auto;
		  @include size(180px, 180px);
		  // @include bg-size($slide + '/fingerprint.svg', 180px 180px, 0 0);
		  object {
			width: 180px;
			height: 180px;
		  }
		}
		.magnifer {
		  @include size(110px, 110px);
		  @include abs-point(190px, 50px);
		  z-index: 5;
		  object {
			width: 110px;
			height: auto;
		  }
		}
	  }
	  .original {
		@include abs-point(220px, 170px);
		.half-title {
		  color: $colorBlue;
		}
		.magnifer {
		  // @include bg-size($slide + '/magnifer.svg', 110px 110px, 0 0);
		}
	  }
	  .analog {
		@include abs-point(220px, 575px);
		.magnifer {
		  // @include bg-size($slide + '/magnifer2.svg', 110px 110px, 0 0);
		}
	  }
	  .comparison {
		font-size: 100px;
		// font-weight: 300;
		color: $colorBlue;
		line-height: 90px;
		@include abs-point(300px, 483px);
		.equal {
		  position: relative;
		  top: 0;
		  &:after {
			content: '';
			@include block(7px, 50px);   
			@include abs-point(30px, 27px);     
			background-color: $colorBlue;
			transform: skew(-20deg);       
			
		  }
		}
	  }
	  .bottom-text {
		@include abs-point(560px, 0);
		width: 100%;
		b {
		  font-weight: 700;
		}
	  }
	  .header {
		@include abs-point(640px, 0);
		width: 100%;
	  }
}
// animations
.#{$slide} {


// inital state
	&.slide-active {
		.half-title,
		.fingerprint,
		.magnifer,
		.quest,
		.equal,
		.bottom-text,
		.header {
		  opacity: 0;
		}
		.equal:after {
		  opacity: 0;
		}
		&.first-state { 
		  .original {
		  .half-title {
			  @include trans(opacity .3s linear 1s);
			}
			.fingerprint {
			  @include trans(opacity .3s linear 1.5s);
			}
		  }
		  .analog {
			.half-title {
			  @include trans(opacity .3s linear 2s);
			}
			.fingerprint {
			  @include trans(opacity .3s linear 2.5s);
			}
		  }
		  .equal {
			@include trans(opacity .3s linear 3.2s);
		  }
		  .quest {
			@include trans(opacity .3s linear 4s);
		  }
		}
	  
		&.slide-active {
		  .half-title,
		  .fingerprint,
		  .equal,
		  .quest {
			opacity: 1;
		  }
		} 
	  
		&.second-state {
		  .fingerprint,
		  .magnifer {
			@include trans(opacity 1s linear .5s);      
		  }
		  .fingerprint {
			opacity: .7;
		  }
		  .magnifer {
			opacity: 1;
		  }
		  .quest,
		  .equal,
		  .equal:after {
			@include trans(all 1s linear 1s);  
		  }
		  .quest {
			opacity: 0;
		  }
		  .equal {
			top: -50px;
		  }
		  .equal:after {
			opacity: 1;
		  }
		  .bottom-text {
			@include trans(opacity .3s linear 2s);
		  }
		  .header {
			@include trans(opacity .3s linear 2.5s);
		  }   
		  .bottom-text,
		  .header {
			opacity: 1;
		  }
		}
	}
}