$slide: 'slide-08';
@import "engine";
@import "theme";
.#{$slide} {
	.btmmm{
		width: 350px;
		height: 60px;
		background: #6a3489;
		border-radius: 10px;
		position: absolute;
		top: 550px;
		left: 350px;
		color: #ffffff;
		font-size: 30px;
		line-height: 55px;
		text-align: center;
	}	
	.hint-popup.active{
		margin-top: -380px;
	}
.title{
	font-size: 25px;
}
	.list {
		@include size(743px, auto);
		@include abs-point(167px, 140px);
		padding-left: 0px;
		list-style: none;
		> li {
		  position: relative;
		  margin-bottom: 15px;
		  padding-left: 56px;      
		  .text {
			font-weight: 300;
			font-size: 18px;
			color: #646464;
			position: relative; 
			input{
				border: 1px solid #6a3489;
				width: 650px;
				font-size: 20px;
				color: #6a3489;
				height: 50px;
				border-radius: 10px;
				background: #ffffff;
				padding: 10px;
				outline: none;
			}
			select{
				border: 1px solid #6a3489;
				width: 650px;
				background: #ffffff;
				padding: 10px;
				font-size: 20px;
				border-radius: 10px;
				color: #6a3489;
				height: 50px;
			}      
		  }
		  .header {
			font-size: 20px;
			font-weight: bold;
			color: #6a3489;
			margin-bottom: 5px;
		  }
		  ul.text {
			list-style: none;
			padding-left: 0px;
			li {
			  padding-left: 11px;
			  position: relative;
			  &:before {
				content: '';
				@include inline-block(4px, 4px);
				background-color: #646464;
				border-radius: 50%;
				position: absolute;
				top: 9px;
				left: 0;
			  }
			}
		  }
		  &:nth-child(2), &:last-child {
			&:before {
			  top: 10px;
			}
		  }
		  &:before {
			content: '';
			@include inline-block(36px, 36px);
			@include abs-point(0, 0);
			@include bg-size($slide + '/warning.png', 100% 100%, 0 0);
		  }
		}
	  }
	  .final-text {
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 24px;
		position: absolute;
		left: 0;
		top: 635px;
		color: #d4146e;
	  }
}
// animations
.#{$slide} {
	.header, .text, .list > li:before, .final-text {
		opacity: 0;
	  }
	  
	  .list {
		> li:first-child {
		  &:before, .header {
			@include trans(opacity .3s linear .5s);
		  }
		  .text {
			@include trans(opacity .3s linear 1s, top .3s linear 1s);
		  }      
		}
		> li:nth-child(2) {
		  &:before, .header {
			@include trans(opacity .3s linear 1.5s);
		  }
		  .text {
			@include trans(opacity .3s linear 2s, top .3s linear 2s);
		  }      
		}
		> li:nth-child(3) {
			&:before, .header {
			  @include trans(opacity .3s linear 2.5s);
			}
			.text {
			  @include trans(opacity .3s linear 3s, top .3s linear 3s);
			}      
		  }
		  > li:nth-child(4) {
			&:before, .header {
			  @include trans(opacity .3s linear 3.5s);
			}
			.text {
			  @include trans(opacity .3s linear 4s, top .3s linear 3s);
			}      
		  }
	  }
	  .final-text {
		@include trans(opacity .3s linear 5s);
	  }

	  .chek{
		  display: inline-block;
		  width: 30px!important;
		  height: 30px!important;
		  vertical-align: middle;
		  text-align: left;
		  margin-right: 20px;
	  }

// inital state
	&.slide-active {
		.header, .text, .list > li:before, .final-text {
			opacity: 1;
		  }
		  .text {
			top: 0;
		  }
	}
}