$slide: 'slide-06';
@import "engine";
@import "theme";
.#{$slide} {
	position: relative;
	.hint-popup.active{
		margin-top: -215px;
	}
	.sub-title{
		width: 100%;
		position: absolute;
		top: 192px;
		left:0px;
		text-align: center;
		font-size: 17px;
		color: #0054a4;
		opacity: 0;
		transition: .5s opacity;
	}
	.title-tab{
		width: 100%;
		position: absolute;
		top: 257px;
		left:0px;
		text-align: center;
		font-size: 18px;
		color: #505050;
		font-weight: 400;
		opacity: 0;
		transition: .5s opacity .5s;
	}
	.text-after{
		width: 100%;
		position: absolute;
		top: 638px;
		left:0px;
		text-align: center;
		font-size: 24px;
		color: #646464;
		font-weight: 600;
		opacity: 0;
		transition: .5s opacity 1.5s;
	}
	.setka{
	  @include abs-point(282px, 72px);
      @include block(872.5px, 355.5px);
	  @include bg-size($slide+'/1_03.png');
	  opacity: 0;
	  transition: .5s opacity .7s;
	}

	.grafik{
		position: fixed;
		bottom: 219px;
		left: 257px;
		@include block(543.5px, 185.5px);
		@include bg-size($slide+'/2_03.png');
		height: 0px;
		transition: .5s height 1.2s;
	  }

	  .sin{
		width: 100%;
		position: absolute;
		top: 331px;
		left:0px;
		text-align: left;
		font-size: 14px;
		color: #646464;
		opacity: 0;
		transition: .5s opacity 1.5s;
		div{
			display: inline-block;
			vertical-align: top;
			&.n1{
				margin-left: 283px;
			}
			&.n2{
				margin-left: 164px;
				padding-top: 81px;
			}
			&.n3{
				margin-left: 155px;
				padding-top: 81px;
			}
		}
	  }
}
// animations
.#{$slide} {


// inital state
	&.slide-active {
		.sub-title, .title-tab, .setka, .text-after{
			opacity: 1;
		}
		.sin{
			opacity: 0.7;
		}
		.grafik{
			height: 185.5px;
		}
	}
}