$slide: 'slide-00';
@import "engine";
@import "theme";

.#{$slide} {
  background: linear-gradient(to right top, #e7e7e7 50%, #ffffff 100%);
  .footer, .instruction-popup{
    display: none;
  }
  
  .logo {
    @include abs-point(48px, 76px);
    @include block(229px, 94px);
    @include bg-size('logo.png');
  }

  .logo-roket {
    @include abs(auto, 43px, 25px);
    @include block(146px, 31px);
    @include bg-size($slide + '/logo-roket.png');

    z-index: 70;
  }

  .title {
    @include abs-point(157px, 73px);

    text-transform: uppercase;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: -.015em;
    background: linear-gradient(to right, $colorBlue 0%, $colorPink 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    span.tit-sub{
      display: block;
      font-size: 20px;
      line-height: 25px;
    }
  }

  .text {
    @include abs-point(208px, 70px);

    color: $colorBlue;
    font: 700 26px / 1.05 $fontNeris;

    b {
      font-weight: 900;
      font-size: 25px;
    }

    span {
      font-weight: 400;
      font-size: 25px;
      line-height: inherit;
      letter-spacing: -.015em;
    }
  }

  .boxes-left {
    @include abs-point(525px, 40px);
    @include block(265px, 210px);
    @include bg-size($slide + '/boxes-left.png');
  }

  .side-text {
    @include abs(auto, auto, 138px, 12px);

    transform-origin: 0 0;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-size: 9px;
    color: #a5a5a5;
    letter-spacing: .028em;
    &.code {
      bottom: 15px;
    }
  }

  .foot-note {
    @include abs-point(735px, 70px);

    font-weight: 300;
    font-size: 12px;
    color: #898989;
  }

  .scene {
    @include abs();

    z-index: 50;

    .box {
      @include abs-point(209px, 346px);
      @include block(526px, 436px);
      @include bg-size($slide + '/box.png');
    }

    .ery-0 {
      @include abs-point(193px, 353px);
      @include block(505px, 272px);
      @include bg-size($slide + '/ery-0.png');
    }

    .ery-1 {
      @include abs-point(276px, 322px);
      @include block(132px, 107px);
      @include bg-size($slide + '/ery-1.png');
    }

    .ery-2 {
      @include abs-point(0, 752px);
      @include block(272px, 721px);
      @include bg-size($slide + '/ery-2.png');
    }

    .ery-3 {
      @include abs-point(0, 670px);
      @include block(354px, 768px);
      @include bg-size($slide + '/ery-3.png');
    }

    .ery-4 {
      @include abs-point(78px, 441px);
      @include block(86px, 42px);
      @include bg-size($slide + '/ery-4.png');
    }

    .ery-5 {
      @include abs-point(630px, 550px);
      @include block(80px, 62px);
      @include bg-size($slide + '/ery-5.png');
    }

    .ery-6 {
      @include abs-point(347px, 297px);
      @include block(109px, 110px);
      @include bg-size($slide + '/ery-6.png');
    }

    .ery-7 {
      @include abs-point(0, 500px);
      @include block(118px, 98px);
      @include bg-size($slide + '/ery-7.png');
    }

    .ery-8 {
      @include abs-point(208px, 725px);
      @include block(99px, 67px);
      @include bg-size($slide + '/ery-8.png');
    }

    .ery-9 {
      @include abs-point(333px, 706px);
      @include block(107px, 107px);
      @include bg-size($slide + '/ery-9.png');
    }
  }



  $baseDuration: 1.25s;

  .scene {
    .box {
      @include trans(top $baseDuration $easeOutExpo, left $baseDuration $easeOutExpo, -webkit-filter $baseDuration $easeOutQuad, transform $baseDuration / 2 $easeOutExpo);

      top: -336px;
      left: 1337px;
      -webkit-filter: blur(10px);
      transform: scale(.94);
    }

    .ery-0 {
      @include trans(top $baseDuration $easeOutExpo, left $baseDuration $easeOutExpo, opacity ($baseDuration / 3) $easeOutSine (2 * $baseDuration / 3));

      top: -109px;
      left: 987px;
      opacity: 0;
    }

    .ery-1 {
      @include trans(all $baseDuration $easeOutExpo);

      top: -22px;
      left: 1024px;
      -webkit-filter: blur(5px);
      transform: scale(.84);
    }

    .ery-2 {
      @include trans(top $baseDuration $easeOutExpo, left $baseDuration $easeOutExpo);

      top: -317px;
      left: 1345px;
    }

    .ery-3 {
      @include trans(top $baseDuration $easeOutExpo, left $baseDuration $easeOutExpo);

      top: -195px;
      left: 1027px;
    }

    .ery-4 {
      @include trans(top $baseDuration $easeOutExpo, left $baseDuration $easeOutExpo);

      top: -170px;
      left: 1046px;
    }

    .ery-5 {
      @include trans(top $baseDuration $easeOutExpo, left $baseDuration $easeOutExpo);

      top: 412px;
      left: 1024px;
    }

    .ery-6 {
      @include trans(top $baseDuration $easeOutExpo, left $baseDuration $easeOutExpo);

      top: -100px;
      left: 1133px;
    }

    .ery-7 {
      @include trans(top $baseDuration $easeOutExpo, left $baseDuration $easeOutExpo);

      top: -195px;
      left: 857px;
    }

    .ery-8 {
      @include trans(top $baseDuration $easeOutExpo, left $baseDuration $easeOutExpo);

      top: -6px;
      left: 1135px;
    }

    .ery-9 {
      @include trans(top $baseDuration $easeOutExpo, left $baseDuration $easeOutExpo);

      top: -105px;
      left: 1608px;
    }
  }
}

// animations
.#{$slide} {
  // inital state
  &.slide-active {
       .scene {
    .box {
      top: 209px;
      left: 346px;
      -webkit-filter: blur(0);
      transform: scale(1);
    }

    .ery-0 {
      top: 193px;
      left: 353px;
      opacity: 1;
    }

    .ery-1 {
      top: 276px;
      left: 322px;
      -webkit-filter: blur(0);
      transform: scale(1);
    }

    .ery-2 {
      top: 0;
      left: 752px;
    }

    .ery-3 {
      top: 0;
      left: 670px;
    }

    .ery-4 {
      top: 78px;
      left: 441px;
    }

    .ery-5 {
      top: 630px;
      left: 550px;
    }

    .ery-6 {
      top: 347px;
      left: 297px;
    }

    .ery-7 {
      top: 0;
      left: 500px;
    }

    .ery-8 {
      top: 208px;
      left: 725px;
    }

    .ery-9 {
      top: 333px;
      left: 706px;
    }
  }
  }
}
