
    </div>

    <!--build:js js/bundle.js-->
    <script src="bower/jquery/dist/jquery.js"></script>
    <script src="bower/hammer.js/hammer.js"></script>
    <script src="bower/jquery.hammer.js/jquery.hammer.js"></script>

    <script src="scripts/_cegedim.js"></script>
    <script src="scripts/flow.{{lang}}.js"></script>
    <script src="scripts/_engine.js"></script>
    <script src="scripts/_theme.js"></script>
    <script src="scripts/@@slide-id.js"></script>
    <!--endbuild-->
    {{devScripts}}
   </body>
</html>
