<!DOCTYPE html>
<html>
  <head>
    <title>@@slide-id</title>
    <meta charset="utf-8">

    <!--build:css css/styles.css-->
    <link rel="stylesheet" href="css/@@slide-id.css"/>
    <!--endbuild-->
  </head>
  <body data-lang="{{lang}}" data-alllangs="{{alllang}}">
    <div class="slide-wrap @@slide-id js-slide-wrap">



    <div class="overlay js-overlay"></div>
    <div class="logo-wrapper">
      <div class="instruction-popup">
        <a href="javascript:void(0);" class="logo js-logo" data-prevent-tap="true"></a>
        <a href="javascript:void(0);" class="instruction-button-rus" data-prevent-tap="true"
          data-pdf="media/pdf/instruction-rus.pdf"></a>
        <a href="javascript:void(0);" class="instruction-button-kaz" data-prevent-tap="true"
          data-pdf="media/pdf/instruction-kaz.pdf"></a>
      </div>
    </div>