@@include('header.html', {"slide-id": "slide-02"})

<div class="blur-content">
	<div class="frame">
		<span class="hint-overlay"></span>
        <span class="logo-sanofi"></span>
        <div class="hint-icon-action" data-prevent-tap="true"></div>

	  <div class="hint-popup js-hint-popup">
		<a href="javascript:void(0);" class="hint-close js-hint-close" data-prevent-tap="true"></a>

		<div class="hint-text">
		  1.Eleryan M.G., Akhiyat S., Rengifo-Pardo M., Ehrlich A. (2016) Biosimilars: potential implications for clinicians. Clinical, cosmetic and investigational dermatology , 9, 135-142<br>
			2.https://www.fda.gov/drugs/drugsafety/postmarketdrugsafetyinformationforpatientsandproviders/<br>ucm220037.htm (дата последнего обращения 10.12.2018)
		</div>
	  </div>
	</div>

	<div class="slide">
	  <div class="title">Сравнение оригинальных препаратов и биоаналогов</div>
	  <div class="original half">
		<div class="half-title">Биологические препараты</div>
		<div class="fingerprint">
		  <object type="image/svg+xml" data="media/images/slide-02/fingerprint.svg"></object>
		</div>
		<div class="magnifer">
		   <object type="image/svg+xml" data="media/images/slide-02/magnifer.svg"></object>
		</div>
	  </div>
	  <div class="comparison text-center">
		<div class="quest">?</div>
		<div class="equal">=</div>
	  </div>
	  <div class="analog half">
		<div class="half-title">Биоаналоги препаратов</div>
		<div class="fingerprint">
		  <object type="image/svg+xml" data="media/images/slide-02/fingerprint.svg"></object>
		</div>
		<div class="magnifer">
		  <object type="image/svg+xml" data="media/images/slide-02/magnifer2.svg"></object>
		</div>
	  </div>
	  <div class="bottom-text text-center"><b>Биоаналоги</b> – это аналоги оригинальных биологических лекарственных средств<br /> <b>с близкой, но не идентичной</b> молекулярной структурой и производственным процессом<sup>1</sup></div>
	  <div class="header text-center">Эноксапарин образован сложным набором олигосахаридов. <br />Некоторые из них ещё до конца не охарактеризованы<sup>2</sup></div>
	</div>
  </div>
@@include('footer.html', {"slide-id": "slide-02"})