@@include('header.html', {"slide-id": "slide-03"})


<div class="blur-content">
	<div class="frame">
		<span class="hint-overlay"></span>
        <span class="logo-sanofi"></span>
        <div class="hint-icon-action" data-prevent-tap="true"></div>

	  <div class="hint-popup js-hint-popup">
		<a href="javascript:void(0);" class="hint-close js-hint-close" data-prevent-tap="true"></a>

		<div class="hint-text">
		  Моисеев С.В. Все ли мы знаем о низкомолекулярных гепаринах. Клиническая фармакология и терапия, 2014, 23 (5)
		</div>
	  </div>
	</div>

	<div class="slide">
	  <div class="title">1,6-ангидрокольцо – «отпечаток пальца» Клексана</div>
	  <div class="inner-content">
		<div class="sub_header text-center">В препарате Клексан<sup>®</sup> было идентифицировано <br />3 ключевых признака – «отпечатка пальца»</div>
		<div class="formula-block">
		  <div class="td">Характерные связывающие участки ATIII </div>
		  <div class="td">Области <br />добавочных олигосахаридов</div>
		  <div class="td">1,6 - Ангидрокольцо</div>
		  <div class="formula-img"></div>
		  <div class="bottom-text text-center">1,6-ангидрокольцо содержится в Клексане в концентрации 15-25%</div>
		</div>
		<div class="header text-center">Установлено: несоответствие этой концентрации у биосимиляра эноксапарина натрия приводит к клинически-значимым изменениям фармакологических параметров (антикоагулянтной и другой активности препарата)</div>
	  </div>
	</div>
  </div>
</div>


@@include('footer.html', {"slide-id": "slide-03"})