@@include('header.html', {"slide-id": "slide-01"})




    <div class="blur-content">
      <div class="frame">
        <span class="hint-overlay"></span>
        <span class="logo-roket"></span>
        <div class="hint-icon-action" data-prevent-tap="true"></div>

        <div class="hint-popup js-hint-popup">
          <a href="javascript:void(0);" class="hint-close js-hint-close" data-prevent-tap="true"></a>

          <div class="hint-text">
            ВТЭО – венозные тромбоэмболические осложнения<br/>
            Marrow T., Felcone LH. Defining the difference: What makes Biologics Unique. Biotechnol Healthc. 2004 Sep;1(4):24-9

          </div>
        </div>
      </div>

      <div class="slide">
        <div class="title">Сравнение химических и биологических препаратов</div>
        <table class="table-compare">
          <tr>
            <th><div class="header colP text-right">Химические препараты</div></th><th></th><th><div class="header colB text-left">Биологические препараты</div></th>
          </tr>
          <tr>
            <td><div class="text-right">Низкая</div></td><td><div class="text-center text-bold">Молекулярная масса</div></td><td><div class="text-left">Высокая</div></td>
          </tr>
          <tr>
            <td><div class="text-right">Простая</div></td><td><div class="text-center text-bold">Структура</div></td><td><div class="text-left">Сложная</div></td>
          </tr>
          <tr>
            <td><div class="text-right">Стабильны</div></td><td><div class="text-center text-bold">Стабильность</div></td><td><div class="text-left">Нестабильны</div></td>
          </tr>
          <tr>
            <td><div class="text-right">Четко определены</div></td><td><div class="text-center text-bold">Модификации</div></td><td><div class="text-left">Многообразие вариантов</div></td>
          </tr>
          <tr>
            <td><div class="text-right">Предсказуемый химический процесс. Возможно получение идентичной копии</div></td><td><div class="text-center text-bold">Производство</div></td><td><div class="text-left">Уникальная линия живых клеток. Невозможно гарантировать идентичность</div></td>
          </tr>
          <tr>
            <td><div class="text-right">Легко полностью охарактеризовать</div></td><td><div class="text-center text-bold">Установление<br> свойств</div></td><td><div class="text-left">Полностью охарактеризовать сложно из-за присутствия смеси сопутствующих молекул</div></td>
          </tr>
        </table>
        <div class="maybee copy header colP oth" data-navigate="06_BIOSIMILARS">Копирование возможно <br />с ограничениями</div>
        <div class="forbidden copy header colB oth" data-navigate="05_DIFFERENTIATION_BY_QUALITY">Копирование <br />невозможно</div>
      </div>
    </div>


@@include('footer.html', {"slide-id": "slide-01"})