@@include('header.html', {"slide-id": "slide-05"})
<div class="blur-content">
	<div class="frame">
		<span class="hint-overlay"></span>
		<span class="logo-sanofi"></span>
		<div class="hint-icon-action" data-prevent-tap="true"></div>

	  <div class="hint-popup js-hint-popup">
		<a href="javascript:void(0);" class="hint-close js-hint-close" data-prevent-tap="true"></a>

		<div class="hint-text">
		  АЧТВ – активированное частичное тромбопластиновое время.<br />
		  W.R.Jeske, J.Walenga. Dependent Varioations in the Anticoagulant & Protamine Sulfate Neutralization Profiles of Generic Copies of the Enoxaparin. Poster. ASH dec 2006.
		</div>
	  </div>
	</div>

	<div class="slide">
	  <div class="title">Дифференциация </div>
	  <div class="tabs-block">
		<ul class="tabs" id="tabs">
		  <li data-id="pane1">Качественная</li>
		  <li data-id="pane2">Клиническая</li>
		  <li data-id="pane3">Производственная</li>
		</ul>
		<div class="tabs-pane">

		  <div class="pane" id="pane1">
			<div class="pane-title">Молекулярная масса биоаналогов эноксапарина после расщепления гепариназой II</div>
			<div class="graph-block">
			  <div class="basis"></div>
			  <div class="line1"></div>
			  <div class="line2"></div>
			  <div class="line3"></div>
			  <div class="graph1">
				<div class="graph-img"></div>
				<div class="caption">Оригинальный Эноксапарин</div>
			  </div>
			  <div class="graph2 gr">
				<div class="graph-img"></div>
				<div class="caption">Dilutol</div>
			  </div>
			  <div class="graph3 gr">
				<div class="graph-img"></div>
				<div class="caption">Sicor</div>
			  </div>
			  <div class="graph4 gr">
				<div class="graph-img"></div>
				<div class="caption">Dripanina 040417</div>
			  </div>
			  <div class="graph5 gr">
				<div class="graph-img"></div>
				<div class="caption">Dripanina 040478</div>
			  </div>
			  <div class="graph6 gr">
				<div class="graph-img"></div>
				<div class="caption">Cutenox</div>
			  </div>
			  <div class="graph7 gr">
				<div class="graph-img"></div>
				<div class="caption">Cutenox DJ 302X</div>
			  </div>
			  <div class="graph8 gr">
				<div class="graph-img"></div>
				<div class="caption">Cutenox DJ 306X</div>
			  </div>
			</div>
			<div class="graph-legend"></div>
		  </div>

		  <div class="pane" id="pane2">
			<div class="pane-title">АНТИ-Ха/IIа эффективность</div>
			<div class="pane-half left">
			  <div class="g-name">АНТИ-Ха</div>
			  <div class="g-base">
				<div class="line1"></div>
				<div class="line2"></div>
			  </div>
			</div>
			<div class="pane-half right">
			  <div class="g-name">АНТИ-IIа</div>
			  <div class="g-base">
				<div class="line1"></div>
				<div class="line2"></div>
			  </div>
			</div>
			<div class="graph-legend"></div>
		  </div>

		  <div class="pane" id="pane3">
			<div class="pane-title">Показатели свертывающей системы (АЧТВ) после введения оригинального Эноксапарина и его аналога</div>
			<div class="pane-half left">
			  <div class="g-name">Оригинальный Эноксапарин</div>
			  <div class="g-base">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			  </div>
			</div>
			<div class="pane-half right">
			  <div class="g-name">Cutenox</div>
			  <div class="g-base">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			  </div>
			</div>
			<div class="graph-legend"></div>
		  </div>
		</div>
	  </div>
	  <div class="bottom-header" data-header="pane1">Очевидная разница состава оригинального эноксапарина<br /> и его биоаналога</div>
	  <div class="bottom-header" data-header="pane2">Отсутствует сопоставимость по АНТИ-Ха/IIа активности <br />оригинального Клексана и его биоаналога</div>
	  <div class="bottom-header" data-header="pane3">Насколько возможно обеспечить постоянство эффекта, если каждая<br /> серия препарата будет отличаться от предыдущей?</div>
	</div>
  </div>

@@include('footer.html', {"slide-id": "slide-05"})