@@include('header.html', {"slide-id": "slide-10"})
<div class="blur-content">
	<div class="frame">
		<span class="hint-overlay"></span>
		<span class="logo-sanofi"></span>
	</div>

	<div class="slide">

	  <div class="title">Использование безопасного шприца Эноксапарин<sup>®</sup> с системой защиты иглы</div>


		


<div class="videos">
		<div class="video video-1 ">
		  <div class="wrapper">
			  <video class="videos" width="640" height="480" controls="controls" >
			<source src="media/videos/slide-10/640x480-prevention.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
		   </video>
				<div class="play js-play"></div>
				<div class="text ">Выполнение инъекции<br><b>профилактической дозы</b></div>
		  </div>
		</div>
		
	</div>
  </div>
@@include('footer.html', {"slide-id": "slide-10"})