@@include('header.html', {"slide-id": "slide-08"})
<div class="blur-content">
	<div class="frame">
		<span class="hint-overlay"></span>
		<span class="logo-sanofi"></span>
		<div class="hint-icon-action" data-prevent-tap="true"></div>

	  <div class="hint-popup js-hint-popup">
		<a href="javascript:void(0);" class="hint-close js-hint-close" data-prevent-tap="true"></a>

		<div class="hint-text">
			НМГ – низкомолекулярный гепарин<br />
            1. Gomes et. Al. An open label, non-randomized, prospective clinical trial evaluating the &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;immunogenicity of branded enoxaparin versus biosimilars in healthy volunteers, Clin. Appli. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thromb. Hemost., 2011; 17 (1): 66-69.<br />
            2. Walena et al. immunogenecity of Low Molecular Weight Heparins and their Biosimilars. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Astract & Poster, NATF, ISTH. 2009. <br />
            3. Kuhlmann and Marre. British Journal of Diabetes & Vascular Disease, 2010, 10, 90-97.<br />
            4. European Medicines Agency. Guideline on Similar Biological Medicinal Products, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CPMP/437/04, October 2005. www.ema.europa.eu/pdfs/human/biosimilar/043704en. <br />
            5. World Health Organisation Drug Information, 2009, 23 (2): 87-94.
		</div>
	  </div>
	</div>

	<div class="slide">
 	<div class="title"><span id="customer_name" class="template" data-template="${context.customers[0].firstname} ${context.customers[0].lastname}">%customer_name% %customer.lastname%</span> просим вас ответить на вопросы?</div>




	<form>

        <ul class="list">
          <li>
			<div class="header">Как часто вы назначаете своим пациентам биологические препараты.</div>
			
            <div class="text">
				<input type="text" id="W1" onchange="window.parent.addData(this.id,this.value)"/>
            </div>
          </li>

		<li>
            <div class="header">Какой препарат вы назначаете чаще всего?</div>
            <div class="text">
				<input type="text" id="W2" onchange="window.parent.addData(this.id,this.value)"/>
			</div>
          </li>

          <li>
            <div class="header">В течении какго времени вы получаете эффект от препарата</div>
            <div class="text">
				<input type="text" id="W3" onchange="window.parent.addData(this.id,this.value)"/>
			</div>
		  </li>

		  <li>
            <div class="header">Вы соглашаетесь со сбором информации?</div>
            <div class="text">
				<input type="checkbox" class="chek" id="W4" value="other" onclick=" window.parent.addDataFromElement(this)">Да я согласен</input>
			</div>
		  </li>
		</ul>
	</form>

		<div class="btmmm" data-navigate="07_INJECTION">Результат</div>
		


        <div class="final-text">Эноксапарин<sup>®</sup> – оригинальный биологический препарат от компании Roket pharm</div>


		</div>
	</div>

@@include('footer.html', {"slide-id": "slide-08"})