@@include('header.html', {"slide-id": "slide-06"})
<div class="blur-content">
	<div class="frame">
		<span class="hint-overlay"></span>
		<span class="logo-sanofi"></span>
		<div class="hint-icon-action" data-prevent-tap="true"></div>

	  <div class="hint-popup js-hint-popup">
		<a href="javascript:void(0);" class="hint-close js-hint-close" data-prevent-tap="true"></a>

		<div class="hint-text">
		  АЧТВ – активированное частичное тромбопластиновое время.<br>
			W.R.Jeske, J.Walenga. Dependent Varioations in the Anticoagulant & Protamine Sulfate Neutralization Profiles of Generic Copies of the Enoxaparin. Poster. ASH dec 2006. 
		</div>
	  </div>
	</div>
	<div class="slide">
		<div class="title">Иммуногенная гетерогенность Эноксапарина и биоаналогов</div>
		<div class="sub-title">Несмотря на то, что частота возникновения гепарин-индуцированной тромбоцитопении (ТИТ) значительно<br>
		выше при НФ гепарине, у пациентов, которые лечатся НМГ могут вырабатываться антитела (до 20%)</div>
		<div class="title-tab">
			Иммуногенный потенциал препарата Эноксапарин и биоаналога у здоровых добровольцев 
		</div>
		<div class="setka"></div>
		<div class="grafik"></div>
		<div class="sin">
			<div class="n1">p ˂ 0,001</div>
			<div class="n2">p ˂ 0,007</div>
			<div class="n3">p ˂ 0,001</div>
		</div>
		<div class="text-after">
			Процесс производства биоаналогов отличается и, вероятно, способствует<br>
			проявлению различных иммуногенных свойств 			
		</div>
		</div>
	</div>

@@include('footer.html', {"slide-id": "slide-06"})