@@include('header.html', {"slide-id": "slide-00"})







<div class="logo"></div>
    <div class="logo-roket"></div>
    <div class="title">доказанная и<br>предсказуемая защита<sup>1</sup><br>
      <br>
    <span class="tit-sub">
        <span id="customer_name" class="template" data-template="${context.customers[0].firstname} ${context.customers[0].lastname}">%customer.firstname% <br/> %customer.lastname%,</span><br/>
        просим ознакомится<br>с нашим продуктом</span>
    </div>
    <div class="text"></div>
    <div class="boxes-left"></div>

    <div class="side-text code">17.10.2019</div>
    <div class="foot-note">Дата последнего обращения <span class="template" id="date" data-template="${context.parameters.event_date}">%date%</span></div>
    <div class="scene">
      <div class="ery-3"></div>
      <div class="ery-2"></div>
      <div class="ery-4"></div>
      <div class="ery-5"></div>
      <div class="ery-6"></div>
      <div class="box"></div>
      <div class="ery-0"></div>
      <div class="ery-7"></div>
      <div class="ery-1"></div>
      <div class="ery-8"></div>
      <div class="ery-9"></div>
    </div>








@@include('footer.html', {"slide-id": "slide-00"})
