@@include('header.html', {"slide-id": "slide-04"})
<div class="blur-content">
	<div class="frame">
	  <span class="hint-overlay"></span>
	  <span class="logo-sanofi"></span>
	  <div class="hint-icon-action" data-prevent-tap="true"></div>

	  <div class="hint-popup js-hint-popup">
		<a href="javascript:void(0);" class="hint-close js-hint-close" data-prevent-tap="true"></a>

		<div class="hint-text">
		  НМГ – низкомолекулярный гепарин<br />
		  1.Fareed J. et al. Are the Available low-molecular-weight heparin  Preparation the Same? Seminars in thrombosis and hemostasis, 1996; 22(S1): 77-91.
		</div>
	  </div>
	</div>

	<div class="slide">
	  <div class="title">Каждый НМГ – результат уникального процесса производства</div>
	  
	  <div class="molecula">
		<div class="molecula-img"></div>
		<div class="header">Нефракционированный гепарин<sup>1</sup></div>
	  </div>
	  <div class="result_block">
		<div class="row color1">
		  <i class="arrow"></i>
		  <div class="action">Окислительная деполимеризация</div>
		  <i class="arrow"></i>
		  <div class="result">Адепарин, Пампарин</div>
		</div>
		<div class="row color2">
		  <i class="arrow"></i>
		  <div class="action">В-элиминационное расщепление гепариназой</div>
		  <i class="arrow"></i>
		  <div class="result">Тинзапарин</div>
		</div>
		<div class="row color3">
		  <i class="arrow"></i>
		  <div class="action">Расщепление изомилнитратом</div>
		  <i class="arrow"></i>
		  <div class="result">Цертопарин</div>
		</div>
		<div class="row color4">
		  <i class="arrow"></i>
		  <div class="action">Расщепление азотистой кислотой</div>
		  <i class="arrow"></i>
		  <div class="result">Дальтепарин, Надропарин</div>
		</div>
		<div class="row color5">
		  <i class="arrow"></i>
		  <div class="action">В-элиминационное расщепление щелочной обработкой</div>
		  <i class="arrow"></i>
		  <div class="result">Эноксапарин</div>
		</div>
	  </div>
	  <div class="bottom_text text-center">Полученные НМГ являются сложным комплексом гетерогенных полисахаридов</div>
	  <ul class="list">
		<li>Каждый НМГ – это уникальное сочетание, полученное в результате конкретного процесса деполимеризации.</li>
		<li>Каждый НМГ имеет индивидуальные биохимические, фармакологические и фармакодинамические свойства.</li>
		<li>Уникальный производственный процесс определяет функциональные качества конечного продукта.</li>
	  </ul>
	  
	</div>
  </div>

@@include('footer.html', {"slide-id": "slide-04"})