@@include('header.html', {"slide-id": "slide-07"})
<div class="blur-content">
	<div class="frame">
		<span class="hint-overlay"></span>
		<span class="logo-sanofi"></span>
		<div class="hint-icon-action" data-prevent-tap="true"></div>

	  <div class="hint-popup js-hint-popup">
		<a href="javascript:void(0);" class="hint-close js-hint-close" data-prevent-tap="true"></a>

		<div class="hint-text">
		  НМГ – низкомолекулярный гепарин<br>
			ТГВ- тромбоз глубоких вен<br>
			ОКС - острый коронарный синдром<br>
			Адаптировано из:1.Клин. практ. тромб./гемост. 2011 17:66 Марис Гомес et.al.<br>
			2. Иммуногенный потенциал генетических версий НМГ, Джавед Фарид et.al. 

		</div>
	  </div>
	</div>
	<div class="slide">
		<div class="title">Иммунная гетерогенность Клексана и биоаналогов</div>
		<div class="sub-title">Иммуногенность - важный критерий для выявления различий и демонстрации биоэквивалентности<br>
			генерических НМГ и патентованных препаратов<sup>2</sup></div>
		<div class="title-tab">
			<span>По результатам анализа подтипов (IgG и IgA), оригинальный препарат сопровождается развитием менее интенсивной<br>
				имуногенной реакции<sup>1</sup></span>
				<b><u>Для подтверждения иммуногенной эквивалентности</b></u> каждый НМГ нуждается в <b><u>отдельной оценке эффектов</b></u> его<br>
				применения <b><u>по каждому конкретному показанию</b></u>, включая как минимум лечение тромбоза глубоких вен (ТГВ),<br>
				острых коронарных синдромов (ОКС) и рака<sup>1</sup>
		</div>
		<div class="setka"></div>
		<div class="grafik"></div>
		<div class="setkaz1"></div>
		<div class="setkaz2"></div>
		<div class="sin">
			<div class="n1">p ˂ 0,0001</div>
			<div class="n2">p ˂ 0,007</div>
		</div>
		<div class="text-after">
			Действительный иммуногенный потенциал оригинальных и биосимилярных<br>препаратов не может получить достаточно достоверной оценки, кроме как в<br>рамках клинических исследований
		</div>
		</div>
	</div>

@@include('footer.html', {"slide-id": "slide-07"})