@@include('header.html', {"slide-id": "slide-09"})

<div class="blur-content">
	<div class="frame">
		<span class="hint-overlay"></span>
		<span class="logo-sanofi"></span>
		<div class="hint-icon-action" data-prevent-tap="true"></div>

	  <div class="hint-popup js-hint-popup">
		<a href="javascript:void(0);" class="hint-close js-hint-close" data-prevent-tap="true"></a>

		<div class="hint-text">
		  1;2. http://medbe.ru/materials/profilaktika-infektsiy/profilaktika-zarazheniy-pri-provedenii-inektsiy-i-rabote-s-ostrym-instrumentariem/?PAGEN_2=2. Последний доступ 10.12.2018
		</div>
	  </div>
	</div>

	<div class="slide">
	  <div class="title">
		<span id="presentation_prep" class="template" data-template="${context.presentations[0].sequences[6].data[1].value}">%presentation_prep%</span>   
		– самая массовая инвазивная процедура</div>
	  <div class="sub-title">
			<span id="presentation_prep" class="template" data-template="${context.presentations[0].sequences[6].data[0].value}">%presentation_prep%</span>   
			<br>
			такое мнение часто бывает ошибочное, поэтому мы рекомендуем
	  </div>

	  <div class="section">
		<div class="section-left">
		  <div class="img"></div>
		  <ul class="caption">
			<li>
			  <div class="caption-title">Гепатит В</div>
			  <div class="text"><b>от 8 до 16 млн</b> случаев инфицирования</div>
			</li>
			<li>
			  <div class="caption-title">Гепатит C</div>
			  <div class="text"><b>от 2 до 4,5 млн</b> случаев инфицирования</div>
			</li>
			<li>
			  <div class="caption-title">ВИЧ</div>
			  <div class="text"><b>от 75 до 150 тыс</b> случаев инфицирования</div>
			</li>
		  </ul>
		</div>
		<div class="section-right">
		  <div class="img"></div>
		  <div class="caption">
			<div class="caption-title">Безопасен</div>
			<div class="text">Устройство шприца <b>Эноксапарина</b><sup>®</sup> исключает возможность его повторного использования</div>
		  </div>
		</div>
	  </div>
	  

	  <div class="final-text">Для обеспечения безопасности условий труда медицинского персонала рекомендуется использовать неразборные самоблокирующиеся<br /> шприцы, повторное применение которых невозможно<sup>2</sup></div>
	</div>
  </div>


  <div class="isl" data-pdf="media/pdf/instruction-rus.pdf">
	<img src="media/images/slide-09/lipa.png" alt="">
	</div>
@@include('footer.html', {"slide-id": "slide-09"})